body {
    margin: 0;
    font-family: Arial;
    background: #000;
    color: white;
}

.top {
    display: flex;
    align-items: center;
    gap: 15px;
    background: linear-gradient(to right,#f47521,#ff944d);
    padding: 15px;
}

.logo { height: 50px; }

.menu {
    background: #111;
    height: 100vh;
    padding: 20px;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px;
    margin-bottom: 10px;
    background: #222;
    border-radius: 5px;
}

.menu a:hover { background: #f47521; }

.form-box {
    width: 350px;
    margin: 50px auto;
    padding: 25px;
    background: #111;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #f47521;
    border: none;
    color: white;
    font-size: 16px;
}
